{# ================================
   Veloura Loader Component
   path: src/views/components/veloura-loader/loader.twig
================================ #}

{% set vl_enable_raw = theme.settings.get('veloura_loader_enable_2026', false) %}
{% if vl_enable_raw.value is defined %}
  {% set vl_enable_raw = vl_enable_raw.value %}
{% elseif vl_enable_raw.selected is defined %}
  {% set vl_enable_raw = vl_enable_raw.selected %}
{% endif %}
{% set vl_enable =
  vl_enable_raw == true
  or vl_enable_raw == 'true'
  or vl_enable_raw == 1
  or vl_enable_raw == '1'
  or vl_enable_raw == 'on'
%}

{% if vl_enable %}

  {% set vl_logo_type_raw = theme.settings.get('veloura_loader_logo_type_2026', 'upload') %}
  {% if vl_logo_type_raw.selected is defined and vl_logo_type_raw.selected[0].value is defined %}
    {% set vl_logo_type = vl_logo_type_raw.selected[0].value %}
  {% elseif vl_logo_type_raw[0].value is defined %}
    {% set vl_logo_type = vl_logo_type_raw[0].value %}
  {% elseif vl_logo_type_raw.value is defined %}
    {% set vl_logo_type = vl_logo_type_raw.value %}
  {% else %}
    {% set vl_logo_type = vl_logo_type_raw %}
  {% endif %}

  {% set vl_bg_type_raw = theme.settings.get('veloura_loader_bg_type_2026', 'solid') %}
  {% if vl_bg_type_raw.selected is defined and vl_bg_type_raw.selected[0].value is defined %}
    {% set vl_bg_type = vl_bg_type_raw.selected[0].value %}
  {% elseif vl_bg_type_raw[0].value is defined %}
    {% set vl_bg_type = vl_bg_type_raw[0].value %}
  {% elseif vl_bg_type_raw.value is defined %}
    {% set vl_bg_type = vl_bg_type_raw.value %}
  {% else %}
    {% set vl_bg_type = vl_bg_type_raw %}
  {% endif %}

  {% set vl_hide_style_raw = theme.settings.get('veloura_loader_hide_style_2026', 'normal') %}
  {% if vl_hide_style_raw.selected is defined and vl_hide_style_raw.selected[0].value is defined %}
    {% set vl_hide_style = vl_hide_style_raw.selected[0].value %}
  {% elseif vl_hide_style_raw[0].value is defined %}
    {% set vl_hide_style = vl_hide_style_raw[0].value %}
  {% elseif vl_hide_style_raw.value is defined %}
    {% set vl_hide_style = vl_hide_style_raw.value %}
  {% else %}
    {% set vl_hide_style = vl_hide_style_raw %}
  {% endif %}

  {% set vl_logo_upload = theme.settings.get('veloura_loader_logo_img_2026') %}
  {% if vl_logo_upload.value is defined %}{% set vl_logo_upload = vl_logo_upload.value %}{% endif %}
  {% if vl_logo_upload.url is defined %}{% set vl_logo_upload = vl_logo_upload.url %}{% endif %}
  {% if vl_logo_upload[0].url is defined %}{% set vl_logo_upload = vl_logo_upload[0].url %}{% endif %}

  {% set vl_logo_anim = theme.settings.get('veloura_loader_anim_img_2026') %}
  {% if vl_logo_anim.value is defined %}{% set vl_logo_anim = vl_logo_anim.value %}{% endif %}
  {% if vl_logo_anim.url is defined %}{% set vl_logo_anim = vl_logo_anim.url %}{% endif %}
  {% if vl_logo_anim[0].url is defined %}{% set vl_logo_anim = vl_logo_anim[0].url %}{% endif %}

  {% set vl_logo_url = theme.settings.get('veloura_loader_logo_url_2026', '') %}
  {% if vl_logo_url.value is defined %}{% set vl_logo_url = vl_logo_url.value %}{% endif %}

  {% set vl_logo_src = '' %}
  {% if vl_logo_type == 'upload' %}
    {% set vl_logo_src = vl_logo_upload %}
  {% elseif vl_logo_type == 'animated' %}
    {% set vl_logo_src = vl_logo_anim %}
  {% elseif vl_logo_type == 'url' %}
    {% set vl_logo_src = vl_logo_url %}
  {% elseif vl_logo_type == 'store_logo' %}
    {% set vl_logo_src = store.logo %}
  {% endif %}

  {% set vl_bg_img = theme.settings.get('veloura_loader_bg_img_2026') %}
  {% if vl_bg_img.value is defined %}{% set vl_bg_img = vl_bg_img.value %}{% endif %}
  {% if vl_bg_img.url is defined %}{% set vl_bg_img = vl_bg_img.url %}{% endif %}
  {% if vl_bg_img[0].url is defined %}{% set vl_bg_img = vl_bg_img[0].url %}{% endif %}

  {% set vl_bg_color = theme.settings.get('veloura_loader_bg_color_2026', '#ffffff') %}
  {% if vl_bg_color.value is defined %}{% set vl_bg_color = vl_bg_color.value %}{% endif %}

  {% set vl_grad_1 = theme.settings.get('veloura_loader_grad_1_2026', '#020617') %}
  {% if vl_grad_1.value is defined %}{% set vl_grad_1 = vl_grad_1.value %}{% endif %}

  {% set vl_grad_2 = theme.settings.get('veloura_loader_grad_2_2026', '#0ea5e9') %}
  {% if vl_grad_2.value is defined %}{% set vl_grad_2 = vl_grad_2.value %}{% endif %}

  {% set vl_text_color = theme.settings.get('veloura_loader_text_color_2026', '#111827') %}
  {% if vl_text_color.value is defined %}{% set vl_text_color = vl_text_color.value %}{% endif %}

  {% set vl_bar_color = theme.settings.get('veloura_loader_bar_color_2026', '#0ea5e9') %}
  {% if vl_bar_color.value is defined %}{% set vl_bar_color = vl_bar_color.value %}{% endif %}

  {% set vl_logo_w = theme.settings.get('veloura_loader_logo_w_2026', '120') %}
  {% if vl_logo_w.value is defined %}{% set vl_logo_w = vl_logo_w.value %}{% endif %}
  {% set vl_logo_w = vl_logo_w + 0 %}
  {% if vl_logo_w < 40 %}{% set vl_logo_w = 40 %}{% endif %}
  {% if vl_logo_w > 260 %}{% set vl_logo_w = 260 %}{% endif %}

  {% set vl_duration = theme.settings.get('veloura_loader_duration_2026', '1200') %}
  {% if vl_duration.value is defined %}{% set vl_duration = vl_duration.value %}{% endif %}
  {% set vl_duration = vl_duration + 0 %}
  {% if vl_duration < 300 %}{% set vl_duration = 300 %}{% endif %}
  {% if vl_duration > 5000 %}{% set vl_duration = 5000 %}{% endif %}

  {% set vl_fade = theme.settings.get('veloura_loader_fade_2026', '450') %}
  {% if vl_fade.value is defined %}{% set vl_fade = vl_fade.value %}{% endif %}
  {% set vl_fade = vl_fade + 0 %}
  {% if vl_fade < 100 %}{% set vl_fade = 100 %}{% endif %}
  {% if vl_fade > 1500 %}{% set vl_fade = 1500 %}{% endif %}

  {% set vl_blur = theme.settings.get('veloura_loader_bg_blur_2026', '16') %}
  {% if vl_blur.value is defined %}{% set vl_blur = vl_blur.value %}{% endif %}
  {% set vl_blur = vl_blur + 0 %}
  {% if vl_blur < 0 %}{% set vl_blur = 0 %}{% endif %}
  {% if vl_blur > 40 %}{% set vl_blur = 40 %}{% endif %}

  {% set vl_show_text_raw = theme.settings.get('veloura_loader_show_text_2026', true) %}
  {% if vl_show_text_raw.value is defined %}
    {% set vl_show_text_raw = vl_show_text_raw.value %}
  {% elseif vl_show_text_raw.selected is defined %}
    {% set vl_show_text_raw = vl_show_text_raw.selected %}
  {% endif %}
  {% set vl_show_text =
    vl_show_text_raw == true
    or vl_show_text_raw == 'true'
    or vl_show_text_raw == 1
    or vl_show_text_raw == '1'
    or vl_show_text_raw == 'on'
  %}

  {% set vl_main_text = theme.settings.get('veloura_loader_main_text_2026', 'جاري تجهيز المتجر لك') %}
  {% if vl_main_text.value is defined %}{% set vl_main_text = vl_main_text.value %}{% endif %}

  {% set vl_sub_text = theme.settings.get('veloura_loader_sub_text_2026', 'لحظات قليلة ونبدأ') %}
  {% if vl_sub_text.value is defined %}{% set vl_sub_text = vl_sub_text.value %}{% endif %}

  {% set vl_bar_raw = theme.settings.get('veloura_loader_bar_2026', true) %}
  {% if vl_bar_raw.value is defined %}
    {% set vl_bar_raw = vl_bar_raw.value %}
  {% elseif vl_bar_raw.selected is defined %}
    {% set vl_bar_raw = vl_bar_raw.selected %}
  {% endif %}
  {% set vl_bar =
    vl_bar_raw == true
    or vl_bar_raw == 'true'
    or vl_bar_raw == 1
    or vl_bar_raw == '1'
    or vl_bar_raw == 'on'
  %}

  <div
    id="veloura-loader-2026"
    class="veloura-loader veloura-loader-bg-{{ vl_bg_type }} veloura-loader-hide-{{ vl_hide_style }}"
    data-duration="{{ vl_duration }}"
    data-fade="{{ vl_fade }}"
    style="
      --vl-bg-color: {{ vl_bg_color }};
      --vl-grad-1: {{ vl_grad_1 }};
      --vl-grad-2: {{ vl_grad_2 }};
      --vl-text-color: {{ vl_text_color }};
      --vl-bar-color: {{ vl_bar_color }};
      --vl-logo-width: {{ vl_logo_w }}px;
      --vl-bg-blur: {{ vl_blur }}px;
      {% if vl_bg_img %}--vl-bg-img: url('{{ vl_bg_img }}');{% endif %}
    "
  >
    <div class="veloura-loader__bg"></div>

    <div class="veloura-loader__content">
      {% if vl_logo_src %}
        <div class="veloura-loader__logo-wrap">
          <img src="{{ vl_logo_src }}" alt="{{ store.name }}" class="veloura-loader__logo" loading="eager">
        </div>
      {% endif %}

      {% if vl_show_text %}
        <div class="veloura-loader__texts">
          {% if vl_main_text %}<h2 class="veloura-loader__title">{{ vl_main_text }}</h2>{% endif %}
          {% if vl_sub_text %}<p class="veloura-loader__subtitle">{{ vl_sub_text }}</p>{% endif %}
        </div>
      {% endif %}

      {% if vl_bar %}
        <div class="veloura-loader__bar"><span></span></div>
      {% endif %}
    </div>
  </div>

{% endif %}
