{#
| Variable                        | Type     | Description                                                                  |
|---------------------------------|----------|------------------------------------------------------------------------------|
| component                       | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.banners               | object[] | list of banners                                                              |
| component.banners[].image       | string   |                                                                              |
| component.banners[].url         | string   |                                                                              |
| component.banners[].title       | ?string  |                                                                              |
| component.banners[].description | ?string  |                                                                              |
| position                        | int      | Sorting number start from zero                                               |
#}

<section class="s-block s-block--banners container pro-square-images">
  {% if title %}
    <div class="s-block__title">
      <div class="right-side">
        <h2>{{ title }}</h2>
      </div>
    </div>
  {% endif %}

  <div class="pro-square-images__grid">
    {% for item in items %}
      <a class="pro-square-images__card"
         href="{{ item.url ? item.url : '#' }}"
         {% if item.link_type == 'external_link' %}target="_blank"{% endif %}>

        {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.text }}" loading="lazy">
        {% endif %}

        {% if item.text %}
          <div class="pro-square-images__overlay">
            <h3>{{ item.text }}</h3>
          </div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</section>