{#
| Variable                        | Type     | Description                                                                  |
|---------------------------------|----------|------------------------------------------------------------------------------|
| component                       | object   | Contains merchant settings for fields from twilight.json `component` section |
| component.banners               | object[] | list of banners                                                              |
| component.banners[].image       | string   |                                                                              |
| component.banners[].url         | string   |                                                                              |
| component.banners[].title       | ?string  |                                                                              |
| component.banners[].description | ?string  |                                                                              |
| position                        | int      | Sorting number start from zero                                               |
#}

<section class="s-block s-block--banners container pro-square-images">
<div style="background:#111;color:white;padding:20px;margin-bottom:20px">
    desktop: {{ component.desktop_columns }} |
    mobile: {{ component.mobile_columns }}
  </div>
  <div class="pro-square-images__grid {{ component.banners|length <= 3 ? 'is-one-row' : 'is-two-row' }}">
    {% for index, banner in component.banners %}
      <a
        href="{{ banner.url }}"
        aria-label="{{ (banner.title ? banner.title : 'square-banner-' ~ index) | e('html_attr') }}"
        class="pro-square-images__card {{ banner.title ? 'has-overlay' : '' }}"
      >
        {% if banner.image %}
          <img src="{{ banner.image }}" alt="{{ banner.title ? banner.title : 'banner' }}" loading="lazy">
        {% endif %}

        {% if banner.title or banner.description %}
          <article class="pro-square-images__content">
            {% if banner.title %}
              <h3>{{ banner.title }}</h3>
            {% endif %}

            {% if banner.description %}
              <p>{{ banner.description }}</p>
            {% endif %}
          </article>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</section>