{% set products = {
  source: component.veloura_products_source,
  source_value: component.veloura_products_selected ?: null
} %}

<section class="s-block container veloura-products">
  <salla-products-slider
    source="{{ products.source }}"
    limit="{{ component.veloura_products_limit ?: 10 }}"
    autoplay
    source-value="{{ products.source_value|json_encode }}"
    display-all-url="{{ component.veloura_products_button_link }}"
    block-title="{{ component.veloura_products_title }}"
    block-subTitle="{{ component.veloura_products_subtitle|raw }}"
    slider-id="veloura-products-{{ position }}"
  ></salla-products-slider>
</section>