{% set source_value = null %}

{% if component.veloura_products_source == 'chosen_products' %}
  {% set source_value = component.veloura_products_chosen %}
{% elseif component.veloura_products_source == 'category' %}
  {% set source_value = component.veloura_products_category %}
{% elseif component.veloura_products_source == 'tag' %}
  {% set source_value = component.veloura_products_tag %}
{% endif %}

<section class="s-block container veloura-products">

  {% if component.veloura_products_grid_mode %}

    <salla-products-list
      source="{{ component.veloura_products_source == 'latest_products' ? 'latest' : component.veloura_products_source }}"
      limit="{{ component.veloura_products_limit ?: 10 }}"
      {% if source_value %}
        source-value="{{ source_value|json_encode }}"
      {% endif %}
      includes="[]"
      style="
        --mob-products-cols: {{ component.veloura_products_mobile_cols ?: 2 }};
        --products-cols: {{ component.veloura_products_desktop_cols ?: 4 }};
      "
    ></salla-products-list>

  {% else %}

    <salla-products-slider
      source="{{ component.veloura_products_source }}"
      limit="{{ component.veloura_products_limit ?: 10 }}"
      {% if source_value %}
        source-value="{{ source_value|json_encode }}"
      {% endif %}
      slider-id="veloura-products-{{ position }}"
    ></salla-products-slider>

  {% endif %}

</section>